<section>
  <div class="_container">
    <div class="_content">
      <p class="heading-1 -bold">{{language}}</p>
      <p class="heading-2 -italic -crimson">is {{adjective}}</p>
      <p class="heading-3 -plum">for the {{website}}</p>
      <div>
        <div>
          <p>Nested 2: TEST </p>
        </div>
        <div>
          <p>Nested 2: TEST </p>
        </div>
      </div>
    </div>
  </div>
</section>