<!DOCTYPE html>
	<!--[if lt IE 7]>      <html lang="en-GB" class="no-js lt-ie9 lt-ie8 lt-ie7 lt-ie6" lang="en-gb" dir="ltr" itemscope="" itemtype="http://schema.org/WebPage"> <![endif]-->
	<!--[if IE 7]>         <html lang="en-GB" class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en-gb" dir="ltr" itemscope="" itemtype="http://schema.org/WebPage"> <![endif]-->
	<!--[if IE 8]>         <html lang="en-GB" class="no-js lt-ie9 lt-ie8" lang="en-gb" dir="ltr" itemscope="" itemtype="http://schema.org/WebPage"> <![endif]-->
	<!--[if IE 9]>         <html lang="en-GB" class="no-js lt-ie9" lang="en-gb" dir="ltr" itemscope="" itemtype="http://schema.org/WebPage"> <![endif]-->
	<!--[if gt IE 9]><!-->
	<html lang="en-GB" class="no-js" dir="ltr" itemscope="" itemtype="http://schema.org/WebPage">
	<!--<![endif]-->

  <head>

    {{> includes/meta }}

    {{#> styles-block}}
      {{!-- Custom <head> content per page could be added. --}}
    {{/styles-block}}
  </head>

  <body>
			<main class="wrap" id="top">

				<div>
					<a href="#main-content" class="visuallyhidden focusable">Skip to content</a>
				</div>


        {{> includes/header}}


      <article itemprop="mainEntity" itemtype="http://schema.org/CreativeWork" id="main-content" role="main">


        {{!-- {{> components/landing/hero}} --}}


      </article>



      {{> includes/footer}}
    </main>

    <script src="//www.hull.ac.uk/assets/developer/js/site-float.js"></script>

		<script src="//cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/shortcuts/inview.min.js"></script>

    {{#> scripts-block}}
      {{!-- Custom scripts per page can be added. --}}
    {{/scripts-block}}
  </body>
</html>