<footer>
  <div class="container">
    <div class="staff">
      <h5>
        Staff and students
      </h5>
      <ul>
        <li>
          <a title="Schools and Faculties" href="/faculties/faculties.aspx">
            Faculties
          </a>
        </li>
        <li>
          <a title="Check your email" href="https://mail.hull.ac.uk">
            Mail
          </a>
        </li>
        <li>
          <a
            title="Library Services"
            href="/choose-hull/study-at-hull/library/index.aspx"
          >
            Library
          </a>
        </li>
        <li>
          <a href="https://myadmin.hull.ac.uk">
            MyAdmin
          </a>
        </li>
        <li>
          <a href="https://canvas.hull.ac.uk">
            Canvas
          </a>
        </li>
        <li>
          <a
            title="Student services centre"
            href="/choose-hull/student-life/student-support/where-to-get-help/central-hub.aspx"
          >
            Central Hub
          </a>
        </li>
        <li>
          <a title="Your Timetable" href="https://timetables.hull.ac.uk">
            Timetables
          </a>
        </li>
        <li>
          <a href="https://share.hull.ac.uk">
            SharePoint
          </a>
        </li>
        <li>
          <a
            title="Information and Communication Technology Department"
            href="/ict/"
          >
            ICTD
          </a>
        </li>
        <li>
          <a
            title="Online Order and Payment Portal"
            href="https://shop.hull.ac.uk"
          >
            Online Order and Payment Portal
          </a>
        </li>
      </ul>
    </div>
    <div class="contact">
      <h5>
        Contact
      </h5>
      <ul>
        <li>
          <a
            title="For general enquiries, call us on +44 (0)1482 346311"
            href="tel:+441482346311"
          >
            +44 (0)1482 346311
          </a>
        </li>
      </ul>
    </div>
    <div class="find">
      <h5>
        Find us
      </h5>
      <address itemprop="address" itemtype="http://schema.org/PostalAddress">
        <p>
          University of Hull
        </p>
        <ul>
          <li>
            <span itemprop="addressLocality">
              Hull
            </span>
            ,
            <span itemprop="addressCountry">
              UK
            </span>
          </li>
          <li itemprop="postalCode">
            HU6 7RX
          </li>
        </ul>
      </address>
      <ul>
        <li>
          <a
            title="How to find us"
            href="/choose-hull/study-at-hull/visit-us/how-to-find-us.aspx"
          >
            Getting here
          </a>
        </li>
        <li>
          <a
            title="Download the campus map"
            href="/editor-assets/docs/campus-map.pdf"
          >
            Campus map
          </a>
        </li>
      </ul>
    </div>
    <div class="map"></div>
    <div class="social">
      <ul>
        <li>
          <a
            title="Visit us on Facebook"
            target="_blank"
            rel="noopener"
            href="https://i.hull.ac.uk/get"
          >
            <svg
              id="Layer_1"
              data-name="Layer 1"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="18 18 50 50"
            >
              <defs>
                <style>
                  .cls-1{fill:#fff;}.cls-2{fill:none;}
                </style>
              </defs>
              <title>
                University of Hull
              </title>
              <path
                class="cls-1"
                d="M33.16,53.55a2,2,0,1,1,0-4.06H51.91a2,2,0,1,1,0,4.06H33.16m3.1,6.71H48.81a2,2,0,1,0,0-4.06H36.26a2,2,0,1,0,0,4.06M39.34,67h6.4a2,2,0,1,0,0-4.06h-6.4a2,2,0,1,0,0,4.06M31.87,46.83s-2.92-2.45-.48-8.2a9.89,9.89,0,0,0,6,3.86s1.6-6.12,5.7-6.92c0,0-1.47,3.77,2.44,7,0,0,3.4-4.81,7.68-4.76,0,0-2.36,2.45-1,4.71,0,0,1.27,2.65-.24,4.29a8,8,0,0,0,4.67-1.7s2.94-1.7,1.56-8.06c0,0-.7-4.34,6.13-5.9A17.1,17.1,0,0,0,48.6,33.4s-3.78-5.56,4-10.09c0,0-13-1.13-18.72,11.36,0,0-4.8-2.36-1.65-8.35A13.33,13.33,0,0,0,24.09,40.1s.2,6.73,7.78,6.73"
                transform="translate(-1.36)"
              ></path>
            </svg>
          </a>
        </li>
        <li>
          <a
            title="Visit us on Facebook"
            target="_blank"
            rel="noopener"
            href="https://www.facebook.com/UniversityOfHull"
          >
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li>
          <a
            title="Visit us on Twitter"
            target="_blank"
            rel="noopener"
            href="https://twitter.com/UniOfHull"
          >
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li>
          <a
            title="Visit us on Snapchat"
            target="_blank"
            rel="noopener"
            href="https://www.snapchat.com/add/uniofhull"
          >
            <i class="fab fa-snapchat-ghost"></i>
          </a>
        </li>
        <li>
          <a
            title="Visit our YouTube channel"
            target="_blank"
            rel="noopener"
            href="https://www.youtube.com/user/marcomshull"
          >
            <i class="fab fa-youtube"></i>
          </a>
        </li>
        <li>
          <a
            title="Visit our Flickr feed"
            target="_blank"
            rel="noopener"
            href="https://www.flickr.com/photos/universityofhull"
          >
            <i class="fab fa-flickr"></i>
          </a>
        </li>
        <li>
          <a
            title="Visit us on LinkedIn"
            target="_blank"
            rel="noopener"
            href="https://www.linkedin.com/edu/the-university-of-hull-12668"
          >
            <i class="fab fa-linkedin-in"></i>
          </a>
        </li>
        <li>
          <a
            title="View our Instagram page"
            target="_blank"
            rel="noopener"
            href="https://www.instagram.com/universityofhull/"
          >
            <i class="fab fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="copy">
      <span>
        ©
      </span>
      University of Hull, 2019
    </div>
    <div class="legal">
      <ul>
        <li>
          <a title="accessibility" href="/legal/accessibility.aspx">
            Accessibility
          </a>
        </li>
        <li>
          <a
            title="freedom-of-information"
            href="/legal/freedom-of-information.aspx"
          >
            Freedom of information
          </a>
        </li>
        <li>
          <a
            title="model-publication-scheme"
            href="/legal/model-publication-scheme.aspx"
          >
            Model Publication Scheme
          </a>
        </li>
        <li>
          <a title="modern-slavery-act" href="/legal/modern-slavery-act.aspx">
            Modern Slavery
          </a>
        </li>
        <li>
          <a title="privacy-and-cookies" href="/legal/privacy-and-cookies.aspx">
            Privacy and cookies
          </a>
        </li>
        <li>
          <a
            title="terms-and-conditions"
            href="/legal/terms-and-conditions.aspx"
          >
            Website terms and conditions
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>