// NOTE: BACKGROUND COLOURS
.-bg-blue {
  background: $midnight;
  color: $white;
}

.-bg-crimson {
  background: $crimson;
  color: $white;
}

.-bg-teal {
  background: $teal;
  color: $white;
}

.-bg-sea {
  background: $sea;
  color: $white;
}

.-bg-grey {
  background: $light-grey;
  color: $text-colour;
}


// NOTE: BUTTONS
.-blue-btn {
  background: $midnight;
  color: white;

  &:hover {
    background: shade($midnight, 20%);
  }
}

.-teal-btn {
  background: $teal;
  color: white;

  &:hover {
    background: shade($teal, 20%);
  }
}

.-default-btn {
  background: $white;
  border: 2px solid $white;

  &:hover {
    background: transparent;
    color: $white;
  }
}

// NOTE: IMAGE SIZES
.-small {
  width: 190px;
  height: 190px;
}

.-medium {
  width: 250px;
  height: 250px;
}

.-large {
  width: 380px;
  height: 380px;
}

// NOTE: TEXT COLOUR
.-crimson-text {
  color: $crimson !important;

  &:before {
    background: rgba($text-colour, .2) !important;
  }
}

.-sea-text {
  color: $sea !important;
}

.-teal-text {
  color: $teal !important;
}

.-blue-text {
  color: $midnight !important;
}

.-white-text {
  color: $white !important;
}

// NOTE: OFFSETS
.-offset-top {
  margin-top: -75px;
}

.-half {
  max-height: 50vh;
  overflow: hidden;
}